.mode-container {
  display: flex;
}

button.mode {
  flex: 1;
  margin-bottom: 1px;
  display: table-cell;
}

button.mode-selected {
  border-bottom: 1px var(--vibrant) solid;
  margin-bottom: 0px;
}
