:root {
  --background-color: #f0f0f0;
  --db-color: #b1b1b1;
  --db-em-color: #777777;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #272727;
}

body {
  background-color: var(--background-color);
  margin: 10px;
}

table {
  width: 100%;
}

td.input {
  padding-right: 10px;
  padding-left: 10px;
}

td.browse {
  width: 10%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--db-color);
  background-color: var(--background-color);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--db-em-color);
}

button {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

button:hover {
  outline: none;
  border-bottom: 1px solid var(--db-color);
}

button:focus {
  outline: none;
  border-bottom: 1px solid var(--db-em-color);
}
